*{
	text-align: center;
}
@font-face {
  font-family: "LaneSub";
  src: url("../fonts/LANEUP_.ttf");
}
@font-face {
  font-family: "Lane";
  src: url("../fonts/LANENAR.ttf");
}
/*.oculto{
	display: none;
}*/
body{
	font-family: 'Lane', sans-serif;
}
/* ---INICIO--- */
#inicio{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
/* ---NAV--- */
.container {
  width: 100%;
  max-width:initial;
}
.container > .row {
  margin: 0;
}
.container > .row > .col {
  padding: 0;
}
nav{
	background-color: rgba(156, 104, 79, .5);
}
a {
	font-size: 2rem;
}
#logo{
	width: 15%;
	margin-top: .5%;
	margin-left: 3%;
}
/* ---SOBRE-MI--- */
#foto-personal{
	width: 100%;
	z-index: 1;
}
#titulo{
	font-family: 'LaneSub', sans-serif;
	font-weight: bolder;
	font-size: 5em;
	padding: 0;
	margin: 0;
}
#sobre-mi{
	background-image: url(../img/5.png);
	background-size: cover;
	background-attachment: fixed;
	margin-top: 0;
	padding-top: 7%;
	padding-bottom: 6%;
	color: #000;
}
.textoTamanio{
  font-size: 2rem;
}
.textoTamanio-medio{
	font-size: 1.5rem;
	line-height: normal;
	font-stretch: condensed;
	font-weight: bold;
}
.textoFijo{
  background-color: rgba(156, 104, 79, .6);
  border-radius: 10%;
  padding: 10%;
}
#nombre{
  font-size: 3rem;
  color: #fff;
  text-shadow: 5px 5px 5px #151515;
  line-height: 2rem;
}
#carrera{
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Lane', sans-serif;
  color: #633812;
}
/* ---FORTALEZAS--- */
#fortalezas{
  background-color: #fff;
  padding-top: 6%;
  padding-bottom: 7%;
}
.imgFortalezas{
	width: 85%;
	padding: 7%;
}
.carousel{
	padding: 10%;
}
/* ---PROYECTOS--- */
#proyectos{
  padding-top: 6.5%;
  background-size: cover;
  background-position: center;
  background-image: url(../img/6.png);
  padding-bottom: 10%;
  background-attachment: fixed;
  padding-bottom: 3%;
}
/* ---CONTACTOS--- */
.contactos{
	width: 100%;
	padding: 7%;
	margin-top: 70%;
	margin-bottom: 91%;
}
footer{
	background-color: rgba(156, 104, 79, .6);
	padding: 1%;
}
